// color variables
$very-dark-blue: #1B1D23;
$dark-grey: #60636D;
$medium-grey: #7D828F;
$light-grey: #C8CCD8;
$very-light-grey: #EEEFF4;
$red: #DF5656;

// typography
$extra-light: 200;
$light: 300;
$regular: 400;
$semi-bold: 600;
$extra-bold: 800;

// screen breakpoints
$large-screen: 1201px;
$small-screen: 1025px;
$tablet-screen: 769px;
$mobile-device: 481px;
$small-mobile-device: 320px
